@import 'styles/breadcrumbs.css';
@import 'styles/user-form.css';

.content {
  padding-bottom: 3rem;
}

.user__wrapper {
  padding: 1rem 0;
}

.user__container {
  display: grid;
  gap: 2rem;
  max-width: var(--max-width);
  padding: 0 1rem;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .user__container {
    display: grid;
    grid-template-columns: 180px 1fr;
    align-items: start;
  }
}

.user-menu {
  display: grid;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey-lighter);
  border-radius: 0.5rem;
}

.user-menu__heading {
  padding: 0.5em 1em;
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  border-bottom: 1px solid var(--color-grey-lighter);
}

.user-menu__item {
  position: relative;
  padding: 0.5em 1em;
  overflow: hidden;
  font-size: 1rem;
  text-align: left;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--color-grey-lighter);
}

.user-menu__item--active::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 3px;
  height: 100%;
  content: '';
  background-color: var(--color-red-lightest);
}

.user-menu__item:last-child {
  border-bottom: 0;
}

.user-section {
  display: none;
}

.user-section--active {
  display: block;
}
