@import 'styles/breadcrumbs.css';

.user__container {
  max-width: var(--max-width);
  padding: 0 1rem;
  margin: 0 auto;
}

.menu {
  display: grid;
  border: 1px solid var(--color-gray-medium);
}

.menu__heading {
  margin: 0;
}

.menu__item {
  padding: 0;
  background-color: transparent;
  border: 0;
}
