@media (max-width: 1189px) {
  .filters {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    pointer-events: none;
    opacity: 0;
  }

  .filters--active {
    pointer-events: all;
    opacity: 1;
  }
}

@media (max-width: 1189px) {
  .filters-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    display: none;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s linear;
  }

  .filters-overlay--active {
    pointer-events: all;
    opacity: 1;
  }
}

@media (min-width: 400px) {
  .filters-overlay {
    display: block;
  }
}

@media (max-width: 1189px) {
  .filters__inner {
    max-width: 400px;
    min-height: 100vh;
    background-color: var(--color-white);
    transition: transform 0.4s ease-in-out;
    transform: translateX(-100%);
  }

  .filters__inner--active {
    transform: translateX(0);
  }
}

.filters__header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 0.8rem 1rem;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-grey-lighter);
}

@media (min-width: 1190px) {
  .filters__header {
    display: none;
  }
}

.filters__clear {
  display: block;
  justify-self: start;
  line-height: 1;
  background-color: transparent;
  border: none;
}

.filters__title {
  justify-self: center;
  margin: 0;
  font-size: 1.1rem;
  line-height: 1;
}

.filters__close {
  justify-self: end;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
}

.filters__close-icon {
  display: block;
  width: 100%;
  height: 100%;
}

/* =========================================================== */

/* filters */
.filters__body {
  display: grid;
  gap: 1.5rem;
  padding: 2rem 1rem;
}

@media (min-width: 1190px) {
  .filters__body {
    padding: 0;
    padding-bottom: 2rem;
  }
}

/* =========================================================== */

/* filter */
.filter {
  border-bottom: 1px solid var(--color-grey-light);
}

.filter__header {
  padding-bottom: 1.5rem;
}

.filter__title {
  justify-self: center;
  margin: 0;
  font-size: 1.1rem;
  line-height: 1;
}

.filter__toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.2em 0;
  line-height: 1;
  text-align: start;
  background-color: transparent;
  border: none;
}

.filter__toggle-span {
  display: none;
  width: 10px;
  height: 10px;
  margin-right: auto;
  margin-left: 1rem;
  background-color: var(--color-blue-medium);
  border-radius: 10px;
}

.filter--check .filter__toggle-span {
  display: block;
}

.filter__toggle-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--color-grey-megium);
}

.filter--hidden .filter__toggle-icon {
  transform: rotate(180deg);
}

.filter__body {
  overflow: hidden;
  transition: height 300ms ease;
}

.filter__body-inner {
  display: grid;
  gap: 1rem;
  padding-bottom: 1.5rem;
}

.filter__show-all {
  justify-self: start;
  font-weight: 500;
  line-height: 1;
  color: var(--color-blue-medium);
  background: transparent;
  border: none;
}

/* ========================================================== */

/* footer  */
.filters__footer {
  position: sticky;
  bottom: 1rem;
  padding: 0 1rem;
}

.filters__footer-button {
  width: 100%;
  padding: 0.5rem 1rem;
  color: var(--color-white);
  background-color: var(--color-blue-medium);
  border: none;
  border-radius: 0.3rem;
}

.filters__footer-button--cleaer {
  display: none;
}

@media (min-width: 1190px) {
  .filters__footer-button {
    display: none;
  }

  .filters__footer-button--cleaer {
    display: block;
  }
}

/* ========================================================== */

/* check */
.check {
  position: relative;
  display: block;
  padding: 0.1em 0;
  padding-left: 2em;
}

.check--hidden {
  display: none;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.check__input {
  position: absolute;
  appearance: none;
}

.check__box {
  position: absolute;
  top: 50%;
  left: 0.1em;
  width: 1.1em;
  height: 1.1em;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 0.05em;
  box-shadow: 0 0 0 1px var(--color-grey-light);
  transform: translateY(-50%);
}

.check__input:checked + .check__box {
  background-color: var(--color-blue-medium);
  background-image: url('/images/check-filter.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-shadow: 0 0 0 1px var(--color-blue-medium);
}

.check__input:focus + .check__box {
  box-shadow: 0 0 0 1px var(--color-blue-medium);
}

/* =========================================================== */

/* price */

.filter-price__header {
  padding-bottom: 1.5rem;
}

.filter-price__title {
  margin: 0;
  font-size: 1.1rem;
  line-height: 1;
}

.filter-price__slider {
  margin-bottom: 1.5rem;
}

.filter-price__inputs {
  display: flex;
  gap: 2rem;
}

.filter-price__label {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 0.5em;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey-light);
  border-radius: 0.4rem;
}

.filter-price__input {
  background-color: transparent;
  border: none;
  outline: none;
  -moz-appearance: textfield;
  appearance: none;
}

.filter-price__input::-webkit-outer-spin-button,
.filter-price__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
