.products__header {
  margin-bottom: 1rem;
}

.products__header-container-top {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.products__title {
  margin: 0;
  font-size: 1.8em;
  font-weight: 500;
  line-height: 1;
}

.products__count {
  font-weight: 500;
  line-height: 1;
}

/* ========================================== */

.products__header-container-bottom {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1.5rem 0;
}

@media (min-width: 1190px) {
  .products__header-container-bottom {
    display: none;
  }
}

.products__header-button {
  display: grid;
  grid-template-columns: min-content max-content;
  gap: 0.5rem;
  align-items: center;
  padding: 0.3em 0 0.3em;
  line-height: 1;
  background-color: transparent;
  border: none;
}

.products__header-button-icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
}

/* ========================================== */

/* products sort */
.products__sort-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  opacity: 0;
}

.products__sort-overlay--active {
  pointer-events: all;
  opacity: 1;
}

.products__sort-wrapper {
  position: relative;
}

.products__sort-list {
  position: absolute;
  top: 100%;
  left: -0.5rem;
  z-index: 15;
  width: 220px;
  padding: 1rem 1.5rem;
  pointer-events: none;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  opacity: 0;
  transition: opacity 0.1s linear, top 0.2s ease-in-out;
}

.products__sort-list--active {
  top: calc(100% + 0.5rem);
  pointer-events: all;
  opacity: 1;
}

.products__sort-list-inner {
  padding: 0;
  margin: 0;
  list-style: none;
}

.products__sort-item-button {
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
  justify-items: start;
  width: 100%;
  min-height: 2rem;
  line-height: 1;
  background-color: transparent;
  border: none;
}

.products__sort-button--active {
  color: var(--color-blue-medium);
}

.products__sort-button--active::after {
  display: block;
  align-self: center;
  width: 1.8em;
  height: 1.8em;
  content: '';
  background-image: url('/images/check-sort.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* ========================================== */
.products__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  justify-content: space-around;
  justify-items: center;
  margin-bottom: 1rem;
}

@media (min-width: 750px) {
  .products__container {
    grid-template-columns: repeat(2, minmax(215px, 1fr));
  }
}

@media (min-width: 1050px) {
  .products__container {
    grid-template-columns: repeat(4, minmax(215px, 1fr));
  }
}

@media (min-width: 1190px) {
  .products__container {
    grid-template-columns: repeat(3, minmax(215px, 300px));
  }
}

/* ========================================== */

/* footer */
.products__footer {
  display: flex;
  justify-content: center;
}
