.breadcrumbs {
  padding: 1.5rem 0;
  user-select: none;
}

.breadcrumbs__container {
  max-width: var(--max-width);
  padding: 0 1rem;
  margin: 0 auto;
}

.breadcrumbs__list {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
  overflow-x: auto;
  overflow-y: hidden;
  color: var(--color-grey-light);
  white-space: nowrap;
  list-style: none;
  scrollbar-width: none;
}

.breadcrumbs__list::-webkit-scrollbar { /* chrome based */
  width: 0;  /* ширина scrollbar'a */
  background: transparent;  /* опционально */
}

.breadcrumbs__item + .breadcrumbs__item {
  position: relative;
  padding-left: 0.8rem;
}

.breadcrumbs__item + .breadcrumbs__item::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 6px;
  height: 6px;
  content: '';
  background-color: var(--color-grey-lighter);
  border-radius: 5px;
  transform: translateY(-50%);
}

.breadcrumbs__link {
  display: block;
  padding: 0.3em 0;
  line-height: 1;
}
