/* ===================================================== */

/* logo */
.logo {
  display: flex;
  justify-content: center;
  margin: 0;
}

.logo__link {
  display: block;
  font-family: 'Lora', serif;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1;
  color: var(--color-black);
}

@media (min-width: 768px) {
  .logo__link {
    font-size: 1.1em;
  }
}

/* ===================================================== */

/* logo desktop */
.header__logo-wrapper {
  display: none;
}

@media (min-width: 768px) {
  .header__logo-wrapper {
    display: block;
    padding: 1.4rem 0;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-grey-lighter);
  }
}

/* ===================================================== */

/* bottom */
.header__bottom {
  background-color: var(--color-white);
}

.header__bottom--fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  box-shadow: var(--box-shadow);
  opacity: 0;
  transform: translateY(-100%);
}

.header__bottom--show {
  opacity: 1;
  transition:
    opacity 0.15s linear,
    transform 0.2s linear;
  transform: translateY(0);
}

.header__bottom--hide {
  opacity: 0;
  transform: translateY(-100%);
}

.header__bottom-container {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  max-width: var(--max-width);
  padding: 1rem;
  margin: 0 auto;
  background-color: var(--color-white);
}

@media (min-width: 768px) {
  .header__bottom-container {
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 3em;
    padding: 0 1rem;
  }
}

/* ===================================================== */

/* burger menu */
.header__bottom-open-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2.2rem;
  height: 2.2rem;
  padding: 0.55rem 0.2rem;
  margin: 0;
  background-color: transparent;
  border: none;
}

@media (min-width: 768px) {
  .header__bottom-open-nav {
    display: none;
  }
}

.header__bottom-open-nav-liner {
  display: block;
  width: 100%;
  height: 0.225em;
  background-color: var(--color-grey-light);
  border-radius: 0.5em;
}

/* ===================================================== */

/* logo mobile */
@media (min-width: 768px) {
  .header__bottom-logo-wrapper {
    display: none;
  }
}

/* ===================================================== */

/* search button */
.search-button {
  width: 2em;
  height: 2em;
  margin: 0;
  font-size: inherit;
  background-color: transparent;
  background-image: url('../images/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 63%;
  border: none;
}

/* ===================================================== */

/* header search button */
@media (min-width: 768px) {
  .header__bottom-search-button {
    display: none;
  }
}

/* ===================================================== */

/* search overlay */

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s linear;
}

.search-overlay--active {
  pointer-events: all;
  opacity: 1;
}

/* ===================================================== */

/* search */
@media (max-width: 767px) {
  .header__bottom-search {
    position: absolute;
    top: calc(100% - 1rem);
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    pointer-events: none;
    border-top: 1px solid var(--color-grey-lighter);
    opacity: 0;
    transition: opacity 0.15s linear, top 0.15s ease-in-out;
  }

  .header__bottom-search--active {
    top: 100%;
    pointer-events: all;
    box-shadow: var(--box-shadow);
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .header__bottom-search {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-column: 2 / 3;
    align-items: center;
    min-width: 250px;
    border: 1px solid var(--color-grey-lighter);
  }
}

@media (max-width: 767px) {
  .header__bottom-search-submit {
    display: none;
  }
}

.header__bottom-search-input {
  display: block;
  width: 100%;
  padding: 0.6em;
  font: inherit;
  border: none;
  outline: none;
}

@media (min-width: 768px) {
  .header__bottom-search-input {
    min-width: 200px;
    font-size: 0.9em;
  }
}

/* ===================================================== */

/* nav overlay */
.nav-mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s linear;
}

@media (min-width: 768px) {
  .nav-mobile-overlay {
    display: none;
  }
}

.nav-mobile-overlay--active {
  pointer-events: all;
  opacity: 1;
}

/* ===================================================== */

/* nav mobile */
.header__bottom-nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  max-width: 330px;
  height: 100%;
  min-height: 100vh;
  background-color: var(--color-white);
  transition: transform 0.4s ease-in-out;
  transform: translateX(-100%);
}

@media (min-width: 768px) {
  .header__bottom-nav-mobile {
    display: none;
  }
}

.header__bottom-nav-mobile--active {
  pointer-events: all;
  transform: translateX(0);
}

.header__bottom-nav-mobile-inner {
  height: 100%;
  min-height: 100vh;
}

/* ===================================================== */

/* nav mobile header */
.header__bottom-nav-mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 1rem 1rem 0 1rem;
}

.header__bottom-nav-mobile-header-title {
  margin: 0;
  font-size: 1.8em;
  font-weight: 400;
  color: var(--color-black);
}

.header__bottom-nav-mobile-header-back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  padding: 0;
  background-color: var(--color-grey-lightest-55a);
  background-image: url('../images/nav-back.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  border: none;
  border-radius: 5px;
  transition: all 0.2s ease;
}

/* ===================================================== */

/* menu mobile */
.menu-mobile {
  height: calc(100% - 64px);
  overflow: auto;
}

.menu-mobile__list {
  position: relative;
  padding: 1rem;
  margin: 0;
  font-size: 1.1rem;
  list-style: none;
  background-color: var(--color-white);
}

.menu-mobile__link {
  display: block;
  padding: 1rem 0;
  color: var(--color-grey-medium);
  cursor: pointer;
}

.menu-mobile__link--all {
  color: var(--color-blue-medium);
}

.menu-mobile__link-submenu {
  position: relative;
}

.menu-mobile__link-submenu::before {
  position: absolute;
  top: 50%;
  right: 1.1rem;
  display: block;
  width: 10px;
  height: 10px;
  content: '';
  background-image: url('../images/nav-arrow-left.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  transform: translateY(-50%);
}

/* ===================================================== */

/* submenu mobile */
.menu-mobile__item .menu-mobile__list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  transition: transform 0.4s ease-in-out;
  transform: translateX(-100%);
}

.menu-mobile__item .menu-mobile__list--hidden {
  height: 0;
  overflow: hidden;
}

.menu-mobile__item .menu-mobile__list--active {
  height: 100%;
  height: calc(100vh - 64px);
  overflow: auto;
  transform: translateX(0);
}

.menu-mobile__item .menu-mobile__list--hiding {
  transform: translateX(-100%);
}

.menu-mobile__back {
  position: relative;
  width: 100%;
  padding: 1rem 0;
  padding-left: 1.25rem;
  font: inherit;
  font-size: 1.1em;
  color: var(--color-black);
  text-align: start;
  background-color: transparent;
  border: none;
}

.menu-mobile__back::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 10px;
  height: 10px;
  content: '';
  background-image: url('../images/nav-back.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  transform: translateY(-50%);
}

/* ============================================================= */

/* nav */
.header__bottom-nav {
  display: none;
}

@media (min-width: 768px) {
  .header__bottom-nav {
    position: relative;
    display: block;
    grid-column: 1 / 2;
  }
}

.menu__list {
  display: flex;
  gap: 2em;
  padding: 0;
  margin: 0;
  color: var(--color-black);
  list-style: none;
}

.menu__item {
  padding: 1em 0;
}

.menu__link {
  padding: 0.5em 0;
  font-size: 1.2rem;
  font-weight: 300;
}

.submenu {
  position: absolute;
  top: 100%;
  left: -1rem;
  display: flex;
  gap: 5em;
  width: 100%;
  padding: 1em;
  margin: 0;
  font-size: 1.2rem;
  list-style: none;
  pointer-events: none;
  background-color: var(--color-white);
  border-top: 1px solid var(--color-grey-lighter);
  box-shadow: var(--box-shadow);
  opacity: 0;
  transition:
    opacity 0.1s linear,
    transform 0.1s linear;
  transform: translateY(10px);
}

.menu__item:hover .submenu {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0);
}

.submenu__link {
  display: block;
  padding: 0.4em 0;
  font-weight: 400;
}

.submenu__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.submenu__list-link {
  display: block;
  padding: 0.4em 0;
  font-weight: 300;
  color: inherit;
}
