.hits {
  padding: 1rem 0;
}

.hits__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.9em;
  justify-items: center;
  max-width: var(--max-width);
  padding: 0 1rem;
  margin: 0 auto;
}

@media (min-width: 750px) {
  .hits__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1050px) {
  .hits__container {
    grid-template-columns: repeat(4, minmax(215px, 300px));
    gap: 1.5em;
    justify-content: space-between;
  }
}
