/* Variables */
/* Page */

.page {
  background-color: var(--color-grey-lightest);
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  color: var(--color-black);
}

.page__body--lock {
  overflow-y: hidden;
}

.content {
  flex-grow: 1;
}
