/* Variables */

:root {
  --color-grey-lightest: #f6f6f6;
  --color-grey-lightest-55a: #e9eaeb8c;
  --color-grey-lighter: #d3d3d3;
  --color-grey-light: #828282;
  --color-grey-medium: #676767;

  /* --color-grey-dark: #41474b;
  --color-grey-dark-15a: rgba(233, 234, 235, 0.15);
  --color-grey-dark-55a: rgba(0, 0, 0, 0.55);
  --color-grey-darker: #333333;
  --color-black-8a: rgba(0, 0, 0, 0.075);
  --color-blue-lightest: #def3f6;
  --color-blue-lightest-0a: rgba(222, 243, 246, 0);
  --color-blue-light: #32adfd; */
  --color-blue-medium: #5c7aff;

  /* --color-green-light: #ddf2ea;
  --color-green-darker: #a3cfd1;
  --color-green-darker-50a: rgba(163, 207, 209, 0.5);
  --color-teal: #33779d;
  --color-lightteal: #42abb4;
  --color-turquoise: #00abbd;
  --color-moss: #69bb72;
  --color-grass: #95d445; */
  --color-black: #252525;
  --color-white: #fefefe;
  --max-width: 1272px;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Box Model */

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

input[type=text],
input[type=number] {
  display: block;
  width: 100%;
  font: inherit;
  font-size: inherit;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Visually-hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

/* Page */

.page {
  background-color: var(--color-grey-lightest);
}

.page__body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  color: var(--color-black);
}

.page__body--lock {
  overflow-y: hidden;
}
