.product-slider {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

  /* padding: 0 0 3rem 0; */
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  list-style: none;
  touch-action: pan-y;
}

.product-slider__wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
  transition-property: transform;
  transform: translate3d(0, 0, 0);
}

.product-slider__slide {
  position: relative;
  flex-shrink: 0;
  width: 250px;
  transition-property: transform;
}

.product-slider__slide-img {
  display: block;
  width: 100%;
}
