@media (min-width: 650px) {
  .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: var(--max-width);
    padding: 2rem 1rem;
    margin: 0 auto;
  }
}

@media (min-width: 900px) {
  .product {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: var(--max-width);
    padding: 2rem 1rem;
    margin: 0 auto;
  }
}

.product__header {
  padding: 1rem 0;
}

.product__header-slider-inner {
  position: relative;
  padding-bottom: 133%;
}

@media (min-width: 900px) {
  .product__header-slider-inner {
    padding-bottom: 66.6%;
  }
}

.product__header-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(102, 116, 155);
}

.product__title-wrapper {

}

.product__title {
  max-width: var(--max-width);
  padding: 0.5rem 1rem 1.5rem 1rem;
  margin: 0 auto;
}

.product__price-wrapper {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  max-width: var(--max-width);
  padding: 0.5rem 1rem;
  margin: 0 auto;
}

.product__price {
  font-size: 1.5rem;
  line-height: 1;
  color: var(--color-blue-medium);
}

.product__price-old {
  font-size: 1.2rem;
  line-height: 1;
  color: var(--color-grey-light);
  text-decoration: line-through;
}

.product__add-to-cart-wrapper {
  display: flex;
  gap: 1rem;
  max-width: var(--max-width);
  padding: 1rem;
  margin: 0 auto;
  white-space: nowrap;
}

.product__add-to-cart {
  padding: 0.5em 2em;
  font: inherit;
  font-size: 1rem;
  color: var(--color-grey-light);
  background-color: transparent;
  border: 1px solid var(--color-grey-light);
  border-radius: 2px;
}
