.products {
  padding: 1rem 0;
}

.products__header {
  max-width: var(--max-width);
  padding: 0 1rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.products__header-container-top {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.products__title {
  margin: 0;
  font-size: 1.75em;
  line-height: 1;
}

.products__count {
  font-weight: 500;
  line-height: 1;
}

/* ========================================== */

.products__header-container-bottom {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1.5rem 0;
}

/* ========================================== */

/* products sort */

.products__sort-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  opacity: 0;
}

.products__sort-overlay--active {
  pointer-events: all;
  opacity: 1;
}

.products__sort {
  position: relative;
}

.products__sort-button {
  position: relative;
  display: block;
  padding: 0.3em 0 0.3em 2rem;
  line-height: 1;
  background-color: transparent;
  border: none;
}

.products__sort-button::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.5em;
  height: 1.5em;
  font-size: 1rem;
  content: '';
  background-image: url('../images/sort.svg');
  transform: translateY(-50%);
}

.products__sort-list {
  position: absolute;
  top: 100%;
  left: -0.5rem;
  z-index: 15;
  width: 220px;
  padding: 1rem;
  pointer-events: none;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  opacity: 0;
  transition: opacity 0.1s linear, top 0.2s ease-in-out;
}

.products__sort-list--active {
  top: calc(100% + 0.5rem);
  pointer-events: all;
  opacity: 1;
}

.products__sort-list-inner {
  padding: 0;
  margin: 0;
  list-style: none;
}

.products__sort-item-buttom {
  display: block;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  line-height: 1;
}

.products__sort-button--active {
  position: relative;
  color: var(--color-blue-medium);
}

.products__sort-button--active::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1.8em;
  height: 1.8em;
  content: '';
  background-image: url('../images/check-sort.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateY(-50%);
}

/* ========================================== */
.products__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.9em;
  justify-items: center;
  max-width: var(--max-width);
  padding: 0 1rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

@media (min-width: 750px) {
  .products__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .products__container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5em;
  }
}

/* ========================================== */

/* footer */

.products__footer {
  display: flex;
  justify-content: center;
}

/* ========================================== */

/* pagination */
.pagination__list {
  display: flex;
  padding: 0;
  list-style: none;
}

.pagination__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 0.875rem;
  background-color: transparent;
  border: none;
}

.pagination__button--ellipsis {
  width: auto;
}

.pagination__button--active {
  border: 1px solid currentColor;
  border-radius: 0.4em;
}

.pagination__button-icon {
  height: 1.5em;
}
