.product__header-slider-wrapper {
  position: relative;
  padding-bottom: 133%;
}

.product__header-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(102, 116, 155);
}

.product__header-price-wrapper {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  padding: 0.5rem 1rem;
}

.product__header-price {
  font-size: 1.5rem;
  line-height: 1;
  color: var(--color-blue-medium);
}

.product__header-price-old {
  font-size: 1.2rem;
  line-height: 1;
  color: var(--color-grey-light);
  text-decoration: line-through;
}

.product__header-add-to-cart-wrapper {
  padding: 1rem;
}

.product__header-add-to-cart {
  padding: 0.5em 2em;
  font: inherit;
  font-size: 1rem;
  color: var(--color-grey-light);
  background-color: transparent;
  border: 1px solid var(--color-grey-light);
  border-radius: 2px;
}
