.quantity {
  display: flex;
  height: 2.4em;
  font-size: 1rem;
  background-color: var(--color-grey-ultra-light);
}

.quantity__button {
  width: 2.4em;
  height: 2.4em;
  background-color: transparent;
  border: 0;
}

.quantity__input {
  width: 2.4em;
  height: 2.4em;
  text-align: center;
  background-color: transparent;
  border: 0;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.quantity__input::-webkit-inner-spin-button,
.quantity__input::-webkit-outer-spin-button {
  display: none;
}
